<section class="id_token">
  <h2>ID Token Back Channel</h2>
  <% @id_token_back_channel.pretty_generate.each do |component| %>
    <pre><%= component.html_safe %></pre>
  <% end %>
</section>

<% if @id_token_front_channel %>
  <section class="id_token">
    <h2>ID Token Front Channel</h2>
    <% @id_token_front_channel.pretty_generate.each do |component| %>
      <pre><%= component.html_safe %></pre>
    <% end %>
  </section>
<% end %>